<div class="card">
  <div class="card-body">
    <div *ngIf="messages?.length === 0">
      <p>No messages yet... Say hi!</p>
    </div>

    <ul class="chat">
      <li *ngFor="let message of messages">
        <!-- from me -->
        <div *ngIf="message.senderId != recipientId">
          <div class="chat-content-wrapper">
            <div class="chat-body">
              <div class="chat-message text-right small">
                <span [ngClass]="{ 'text-bold': !message.isRead }">
                  {{ message.content }}
                </span>

                <span class="fa fa-clock-o text-muted">
                  {{ !message.isRead ? 'Sent' : 'Read' }}
                  {{ !message.isRead ? (message.messageSent | timeAgo) : (message.dateRead | timeAgo) }}
                </span>
              </div>
            </div>

            <!-- <div class="chat-img">
              &nbsp;
              <img src="{{ message.senderPhotoUrl }}" alt="{{ message.senderKnownAs }}" class="rounded-circle">
            </div> -->
          </div>
        </div>
        
        <!-- from them -->
        <div *ngIf="message.senderId == recipientId">
          <div class="chat-content-wrapper">
            <!-- <div class="chat-img">
              &nbsp;
              <img src="{{ message.senderPhotoUrl }}" alt="{{ message.senderKnownAs }}" class="rounded-circle">
            </div> -->

            <div class="chat-body">
              <div class="chat-message text-left small">
                <span>
                  {{ message.content }}
                </span>

                <span class="fa fa-clock-o text-muted">
                  &nbsp;
                  Received {{ message.messageSent | timeAgo }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card-footer">
    <form #messageForm = "ngForm" (ngSubmit) = "messageForm.valid && sendMessage()">
      <div class="input-group">
        <input type="text"
          [(ngModel)]="newMessage.content"
          name="content"
          required
          class="form-control input-sm"
          placeholder="Send a private message!">
        <div class="input-group-append">
          <button class="btn btn-primary" [disabled]="!messageForm.valid">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>